/* .box{
    width: 200px;
    height: 200px;
    background-color: red;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-bar{
    width: 100%;
    height: 140px;
    background-color: gray;
    color: white;
}
.menu{
    list-style: none;
}
.nav-link{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 700px;
    background-image: url(../images/nature-319.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}
.portfolio{
    width: 100%;
    height: 500px;
    background-color: bisque;
    text-align: center;
}
.card{

    width: 300px;
    height: 430px;
    border-radius: 25px;
    background-color: brown;
    margin: auto;
    color: aliceblue;
}
.card img{
border-top-left-radius:  25px;
border-top-right-radius: 25px;
    width: 100%;
}
.footer{
    width: 100%;
    background-color: blue;
    height: 300px;
    text-align: center;
    color: white;
}